/* General Styling */

html, body {
    box-sizing: border-box;
    background-image: url("../images/halftone.png");
    color: #777777;
    display: flex; /* Sticky footer */
    flex-direction: column; /* Sticky footer */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%; /* Sticky footer */
    line-height: 150%;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

a:link {
    text-decoration: none;
}


/* Nav Styling */

#navBar {
    background: brown;
    border-bottom: 2px solid lightgray;
    height: 85px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 100%;
    z-index: 1;
}

#devName {
    float: left;
}

#navBar h1 {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    line-height: 83px;
    margin: 0 0 0 50px; /* Altering default h1 margins */
}

#navLinks {
    float: right;
    line-height: 83px;
    margin-right: 50px;
    word-spacing: 30px;
}

#navLinks a {
    color: white;
    font-size: 15px;
}

#navLinks a:hover {
    color: lightgray;
}


/* Main Content General Styling */

.contentWrapper {
    background: white;
    border: 1px solid lightgray;
    clear: both;
    flex: 1 0 auto; /* Sticky footer */
    margin: 135px 10% 30px;
}

.contactInfoWrapper {
    flex: 1 0 auto; /* Sticky footer */
    margin-bottom: 30px;
    margin-top: 135px;
}

#aboutMeHeader,
#contactPanelTitle,
#portfolioHeader {
    color: brown;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 26px;
    font-weight: bold;
}

hr {
    border: 1px solid lightgray;
}


/* 'About Me' Page Styling */

#aboutMeImg {
    border-radius: 25px;
    float: left;
    margin: 3px 20px 3px 0;
    max-height: 300px;
    max-width: 400px;
    width: 100%;
}

/* 'Portfolio' Page Styling */

.projectWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    float: left;
    margin: 0 10px 20px;
}

.project a:hover {
    opacity: 0.3;
}

.images {
    border-radius: 20px 20px 0 0;
    height:175px;
    width: 275px;
}

.imageLabel{
    background: brown;
    border-radius: 0 0 20px 20px;
    color: #ffffff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 275px;
}


/* Contact Page Styling */

#contactPanelHeading {
    background: #ffffff;
    border: none;
    padding-top: 20px;
}

#contactPanelBody {
    padding: 0px 15px 15px 15px;
}

label {
    display: inline-block;
    width: 22%;
}

input {
    margin: 0 0 15px;
}

input:hover {
    opacity: 0.8;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 10px;
    width: 77%;
}

input[type=text]:focus {
    outline-color: brown;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 125px;
    margin-bottom: 20px;
    padding: 8px 10px;
    resize: none;
    width: 100%;
}

textarea:focus {
    outline-color: brown;
}

input[type=submit] {
    background: brown;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 12px 20px;
    width: 100px;
}

input[type=reset] {
    background: lightgray;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    width: 100px;
}

#formButtons {
    margin: 0 auto;
    width: 218px;
}

#socialMediaPanel {
    background: #ffffff;
    border: none;
    padding-bottom: 0px;
    padding-top: 18px;
    text-align: center;
}

#socialMediaPanel hr {
    margin-bottom: 14px;
    margin-top: 14px;
}

#socialMediaPanelLinks {
    padding-bottom: 15px;
    text-align: center;
    word-spacing: 10px;
}

#socialMediaPanelLinks a img {
    border-radius:10px;
}

#socialMediaPanelLinks a img:hover {
    opacity: 0.3;
}

#socialMediaPanelHeader {
    color: brown;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

#socialMediaPanelBodyPadding {
    padding: 0;
}


/* Footer Styling */

footer {
    background: brown;
    height: 50px;
}

#footerContent {
    line-height: 50px;
    text-align: center;
}

/* Responsive Design */

@media screen and (min-width: 300px) and (max-width: 768px) {

    /* Nav */

    #navBar {
        text-align: center;
    }

    #devName {
        float: unset;
    }
    
    #navBar h1 {
        margin: 0 auto; /* Altering default h1 margins */
    }

    #navLinks {
        background: white;
        clear: both;
        float: unset;
        line-height: 3em;
        margin: 0;
        word-spacing: 30px;
    }
    
    #navLinks a {
        color: brown;
        font-size: 15px;
    }

    /* Main Content General Styling */

    .contentWrapper {
        margin-top: 145px;
    }

    /* 'About Me' Page */
    #aboutMeImg {
        margin: 0 1em 1em 0;
    }
}

/* Breakpoint/Viewport Reference

Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens)

*/